body {
    margin: 0;
}

.container {
    padding-left: 113px;
    padding-right: 113px;
    margin-left: auto;
    margin-right: auto;
}

header {
    padding-top: 27px;
    padding-bottom: 27px;
    background-color: #000000;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu a {
    margin-left: 40px;
    color: #FFFFFF;
}